<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>compileBitcode</key>
	<false/>
	<key>destination</key>
	<string>export</string>
	<key>method</key>
	<string>development</string>
	<key>provisioningProfiles</key>
	<dict>
		<key>com.wanxin.youxinDevelop</key>
		<string>youxinDevelopment</string>
	</dict>
	<key>signingCertificate</key>
	<string>aabb02b8-e8d6-4bad-978d-718b5643b89a</string>
	<key>signingStyle</key>
	<string>manual</string>
	<key>stripSwiftSymbols</key>
	<true/>
	<key>teamID</key>
	<string>JYU9DNY9HT</string>
	<key>thinning</key>
	<string>&lt;none&gt;</string>
</dict>
</plist>
